In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import time
import os
import glob
import re

In [2]:
actuals = pd.read_csv('kc_house_data_test_target.csv',index_col=0  )

In [3]:
actuals.shape

(4323, 2)

In [4]:
path = '/Users/swilson5/Documents/DSC/ds-091420/nyc-mhtn-ds-091420-lectures/Phase_2/KC_house_bakeoff/answers'
extension = 'csv'

In [5]:

# create a list of all file names
# starting with testlabels_ from the file


# ‎⁨Macintosh HD⁩ ▸ ⁨Users⁩ ▸ ⁨swilson5⁩ ▸ ⁨Documents⁩ ▸ ⁨DSC⁩ ▸ ⁨ds-033020⁩ ▸ ⁨nyc-ds-033020-lectures⁩ ▸ ⁨Mod_2⁩ ▸ ⁨KC_house_data⁩
os.chdir(path)
files = glob.glob('*.{}'.format(extension))
print(files)

['King_County_Final_predictions_shin.csv', 'housing_preds_ismael_araujo.csv', 'housing_preds_dorjey_sherpa.csv', 'housing_preds_ben_spilsbury.csv', 'housing_preds_Alex_Zieky.csv', 'kc_house_price_prediction_yung.csv', 'housing_preds_aidan_coco.csv', 'housing_preds_sidney_kung.csv', 'housing_preds_justin_fernandez.csv', 'housing_preds_Jacob_Heyman.csv', 'housing_preds_nick_subic.csv', 'housing_pred_Mitch_Krieger.csv', 'housing_preds_michael_wirtz.csv', 'housing_preds_your_ignacio_ruiz.csv', 'housing_preds_amelia_dahm.csv', 'housing_preds_khyatee.csv', 'housing_preds_Tim_hintz.csv', 'housing_preds_Eric_Roberts.csv', 'housing_preds_2_oddi.csv', 'housing_preds_Lhamu.csv', 'housing_preds_Brendan_Ferris.csv', 'housing_preds_david_bruce.csv', 'housing_preds_justin_williams.csv']

In [6]:
#create dictionary to store results
results = {}

In [7]:
for file in files:
    name = file.split("_")[-1].split(".")[0]
    print(name)
    guesses = pd.read_csv(file,  index_col=0 )
 

    # guesses.sort_index(inplace=True)

    if guesses.shape[0] != 4323:
        print(name, "not the correct size", guesses.shape[0]  )
        continue
    mae = metrics.mean_absolute_error(actuals['price'],guesses)
    mse = metrics.mean_squared_error(actuals['price'],guesses)
    rmse = np.sqrt(mse)
    results[name]= [mae, rmse]

shin
araujo
sherpa
spilsbury
Zieky
yung
coco
kung
fernandez
Heyman
subic
Krieger
wirtz
ruiz
dahm
khyatee
hintz
Roberts
oddi
Lhamu
Ferris
bruce
williams

In [8]:

sorted_results = sorted(results.items(), key=lambda x: x[1][1], reverse=True)

In [12]:
sorted_results

[('kung', [1006887.4800145478, 10247968.232510047]),
 ('Ferris', [333485.402138005, 511171.58946058527]),
 ('sherpa', [343030.25210454833, 499214.2626474782]),
 ('yung', [212886.91804847555, 360061.66233511595]),
 ('Roberts', [150868.25415675863, 246196.676947461]),
 ('williams', [136393.28440718664, 207397.4636692553]),
 ('dahm', [125981.85019584687, 202420.55847167788]),
 ('hintz', [140913.72832405422, 194665.10760571313]),
 ('fernandez', [126513.21816974571, 194625.44765642952]),
 ('Zieky', [117649.84889671902, 189362.05672317257]),
 ('ruiz', [116335.99828172951, 183616.39549009505]),
 ('subic', [88260.01141713472, 177297.49203740727]),
 ('araujo', [111405.80883084753, 173730.70498539912]),
 ('Heyman', [100207.90366746247, 165002.43440818565]),
 ('Krieger', [101548.30382385239, 164077.67020384423]),
 ('Lhamu', [102288.91326955389, 161749.44866926703]),
 ('shin', [101802.50244511859, 160895.8391010931]),
 ('bruce', [102224.52252854756, 160273.891955042]),
 ('spilsbury', [90736.12544306698, 154261.325573837]),
 ('oddi', [92412.0817749423, 153313.76692246067]),
 ('wirtz', [86600.25475957565, 145232.77030320175]),
 ('coco', [76133.59912687958, 132832.16214915295]),
 ('khyatee', [78002.87832864544, 129757.56415339764])]

In [10]:


print('Now printing the results with in ascending order')

for k,v in sorted_results:
    print(v[1])
    print('{} achieved an RMSE of {} \n'.format(
          k.upper(), v[1]))

    time.sleep(2)

Now printing the results with in ascending order
10247968.232510047
KUNG achieved an RMSE of 10247968.232510047

511171.58946058527
FERRIS achieved an RMSE of 511171.58946058527

499214.2626474782
SHERPA achieved an RMSE of 499214.2626474782

360061.66233511595
YUNG achieved an RMSE of 360061.66233511595

246196.676947461
ROBERTS achieved an RMSE of 246196.676947461

207397.4636692553
WILLIAMS achieved an RMSE of 207397.4636692553

202420.55847167788
DAHM achieved an RMSE of 202420.55847167788

194665.10760571313
HINTZ achieved an RMSE of 194665.10760571313

194625.44765642952
FERNANDEZ achieved an RMSE of 194625.44765642952

189362.05672317257
ZIEKY achieved an RMSE of 189362.05672317257

183616.39549009505
RUIZ achieved an RMSE of 183616.39549009505

177297.49203740727
SUBIC achieved an RMSE of 177297.49203740727

173730.70498539912
ARAUJO achieved an RMSE of 173730.70498539912

165002.43440818565
HEYMAN achieved an RMSE of 165002.43440818565

164077.67020384423
KRIEGER achieved an RMSE of 164077.67020384423

161749.44866926703
LHAMU achieved an RMSE of 161749.44866926703

160895.8391010931
SHIN achieved an RMSE of 160895.8391010931

160273.891955042
BRUCE achieved an RMSE of 160273.891955042

154261.325573837
SPILSBURY achieved an RMSE of 154261.325573837

153313.76692246067
ODDI achieved an RMSE of 153313.76692246067

145232.77030320175
WIRTZ achieved an RMSE of 145232.77030320175

132832.16214915295
COCO achieved an RMSE of 132832.16214915295

129757.56415339764
KHYATEE achieved an RMSE of 129757.56415339764

In [11]:

print('Now printing the results with in ascending order')

for k,v in sorted_results:
    print(v[1])
    print('{} achieved an MAE of {} \n'.format(
          k.upper(), v[0]))

    time.sleep(.1)

Now printing the results with in ascending order
10247968.232510047
KUNG achieved an MAE of 1006887.4800145478

511171.58946058527
FERRIS achieved an MAE of 333485.402138005

499214.2626474782
SHERPA achieved an MAE of 343030.25210454833

360061.66233511595
YUNG achieved an MAE of 212886.91804847555

246196.676947461
ROBERTS achieved an MAE of 150868.25415675863

207397.4636692553
WILLIAMS achieved an MAE of 136393.28440718664

202420.55847167788
DAHM achieved an MAE of 125981.85019584687

194665.10760571313
HINTZ achieved an MAE of 140913.72832405422

194625.44765642952
FERNANDEZ achieved an MAE of 126513.21816974571

189362.05672317257
ZIEKY achieved an MAE of 117649.84889671902

183616.39549009505
RUIZ achieved an MAE of 116335.99828172951

177297.49203740727
SUBIC achieved an MAE of 88260.01141713472

173730.70498539912
ARAUJO achieved an MAE of 111405.80883084753

165002.43440818565
HEYMAN achieved an MAE of 100207.90366746247

164077.67020384423
KRIEGER achieved an MAE of 101548.30382385239

161749.44866926703
LHAMU achieved an MAE of 102288.91326955389

160895.8391010931
SHIN achieved an MAE of 101802.50244511859

160273.891955042
BRUCE achieved an MAE of 102224.52252854756

154261.325573837
SPILSBURY achieved an MAE of 90736.12544306698

153313.76692246067
ODDI achieved an MAE of 92412.0817749423

145232.77030320175
WIRTZ achieved an MAE of 86600.25475957565

132832.16214915295
COCO achieved an MAE of 76133.59912687958

129757.56415339764
KHYATEE achieved an MAE of 78002.87832864544